@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root{
  --primary :  #c5f82a;
  --white: #fff;
  --grey : #333333;
  --dark-grey: #1f1f1f;
  --off-black: #141414;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background: var(--off-black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
